<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <link href="/bootstrap/css/centralis.css" rel="stylesheet" >
   <script src="bootstrap/js/jquery.min.js"></script>
    <script src = "/bootstrap/js/clean-blog.js"></script>
    <!-- javascript -->
   <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/typed.js"></script>
    <meta charset="utf-8">
    <title></title>


     <link href="/bootstrap/css/centralis.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  
  
   
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>





  <body class="noneMain">
  <ul>
            <li class="left"><a class="logo">How Would You Handle This?<img src="/images/uscmarshall.png" style="height:60px; position: absolute; right:5px; top:0px"></a></li>
  </ul>
  <h1 style="text-align: center; margin-top: 50px;"><strong><span class="typing"></span></strong></h1>
      <script >
                  $(function(){
                      $(".typing").typed({
                        strings: ["Scenarios: "],
                        typeSpeed: 50
                      });
                  });
             </script>
       <form >
              <div class = "longerTextContainer">
                  <div class = "wrapper">
                    <% if (scenarios.length == 0) { %>
                      <p>None</p>
                    <% } %>
                    <% for (var i = 0; i < scenarios.length; i++) { %>
                                 <div class="funkyradio">
                                    <div class="funkyradio-warning">
                                      <div class="padTop">
                                          <input type="radio" name="scenario"   id="radio<%=i+1%>"
                                          value = "<%= scenarios[i]._id %>"/>
                                          <label for="radio<%=i+1%>"><strong >Name: </strong><%=scenarios[i].name%> <br />
                                             <strong>Round: </strong><%=scenarios[i].round%></label>
                                      </div>
                                        
                                    </div>
                                </div>
                             
                    <% } %>
                    
                  </div>
                  <button id="select" type="button" class="btn btnNew" onclick="location.href = 'scenarioRedirect'">Add </button>
                  <div class= "divider"></div>
                    <button id="select" type="button" class="btn btnNew" onclick="location.href = 'homeRedirect'">Finish</button>
            </div>
    </form>
  </body>
</html>
